body {
  background: #111827;
  color: #fff;
  overflow: auto;
}

body::-webkit-scrollbar{
  display: none;
}

#heading{
  font-size: 50px;
}

#header:hover{
  text-decoration: underline;
  text-decoration-color: rgb(255, 164, 85);
}

#heading{
  text-align: center;
  color: rgb(255, 164, 85);
  font-family:  'Potta One', cursive;
}

#gif-description{
  font-size: large;
}

.main {
  text-align: center;

  border-color: rgb(255, 164, 85);

  border-style: solid;
  
  border-width: 5px;
  
  width: 600px;
  
  margin: auto;
  
  color: #fff;

  border-radius: 30px;
}

ul {
  list-style: none;
  font-size: 21px;
  color: rgb(255, 164, 85);
  font-family: 'Raleway', sans-serif;
}

li{
  padding: 20px;
  font-weight: bold;
}
a {
  text-decoration: none;
}
.photos{
  
  height: 200px;
  width: 300px;
  border-radius: 50%;

}
/* .gajar{
 
} */

.footer{
  
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: red; */
  color: white;
  text-align: left;
}

/* unvisited link */
a:link {
  color: rgb(255, 164, 85)
}

/* visited link */
a:visited {
  color: rgb(255, 164, 85)
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.recipe{
  cursor: pointer;
  font-size: 21px;
  font-family:'Potta One', cursive; ;
}

#Ramen{
  margin: auto;
  text-align: center;
  color: rgb(255, 164, 85);
  font-family:'Potta One', cursive;
  
 
}

#gif{
  border-radius: 50px;
  padding: 10px;
  width: 30%;
  border-style: ridge;
  margin: 5px;
  border-color: rgb(255, 164, 85);
}

